.con{
	width: 800px;
	height: 600px;
	margin-left: 150px;
}
.c{
	background-color: black;
	width: 800px;
	height: 600px;
	margin-left: 200px;
}
img{
	width: 9%;
	position: relative;
	left: 370px;
}
p{
	color: white;
	text-align: center;
	font-size: 50px;c1
	font-weight: bolder;
}
.c1{
	height: 75%;
	bottom: 10px;
	margin: 8px;
}
.row{
	height: 45%;
	margin-bottom: 15px;
}
.p11{
	background-color: red;
	margin-bottom: 8px;
	height: 25%;
}
.p12{
	background-color: green;
	height: 75%;
}
.p21{
	background-color: yellow;
	margin-bottom: 8px;
	height: 75%;
}
.p22{
	background-color: orange;
	height: 25%;
}

.paa{
	background-color: white;
	margin-bottom: 8px;
	height: 75%;
}
.pab{
	background-color: purple;
	height: 25%;
}
.pba{
	background-color: violet;
	margin-bottom: 8px;
	height: 25%;
}
.pbb{
	background-color: pink;
	height: 75%;
}